* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.welcome {
    font-size: 3rem;
    margin-top: 5rem;
    color: var(--secondary);
}
.welcome span {
    color: var(--primary);
}

.name {
    font-size: 2rem;
    color: var(--primary);
    font-weight: 500;
}